*{
    margin: 0;
    padding: 0px 50px 0px 50px;
}

header{
    background-image: url(../img/pattern.png);
    background-color: rgb(20, 119, 205);
    height: 100px;
    background-size: 24%;
    
}

.logo{
    height: 50px;
    background-position: center;
}
figure{
    padding: 0px;
}

address{
    font-style: normal;
    color: grey;
}
article{
    font-size: 10px;
    margin-bottom: 10px;
}
p{
    margin: 50px
}

.list{
    padding: 0px;
}